# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Build and distribution
build/
dist/
*.egg-info/

# Virtual environments (Essential for uv)
.venv/

# Environment variables (Sensitive data)
.env
.env.*

# Python versioning
.python-version

# Project specific files
data/*
!data/.gitkeep
config.toml
